@use "../../styles/main.scss" as var;

.page-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;

  &__link {
    text-decoration: none;
  }

  &__content {
    max-width: var.$screen-xl;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    text-align: left;
    gap: 6px;
    width: 100%;
  }

  &__text {
    font-family: var.$font-family-primary;
    font-weight: var.$font-weight-regular;
    font-size: 18px;
    color: var.$color-black-70;
    margin-bottom: 16px;
    margin: 0;
    text-transform: capitalize;
  }
}
