// variables

// Colors
$color-black-100: #000;
$color-black-90: #1a1a1a;
$color-black-80: #333;
$color-black-70: #4d4d4d;
$color-black-60: #666;
$color-black-50: #808080;
$color-black-40: #999;
$color-black-30: #b3b3b3;
$color-black-20: #cccccc;
$color-black-10: #e6e6e6;
$color-black-0: #f2f2f2;
$color-white-100: #fff;
$color-red-100: #ff0000;
$color-red-90: #e60000;
$color-red-80: #cc0000;
$color-red-70: #b30000;
$color-background: #fdfbf8;
$color-primary: #07484a;
$color-secondary: #eeebff;
$color-green-100: #00b300;
$color-green-90: #009900;

// Typography
$font-family-primary: "Poppins", sans-serif;

$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$font-style-normal: normal;

// Screen
$screen-xs: 320px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
