@use "../../styles/main.scss" as var;

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70dvh;
  margin: 0 auto;
  padding: 16px;
  background-image: url('/assets/images/store-home-mobile.webp');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;     
  border-radius: 0 0 50px 50px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);

  &__content {
    max-width: var.$screen-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    gap: 16px;
    padding: 32px;
    border-radius: 8px;
  }

  &__title {
    font-family: var.$font-family-primary;
    font-weight: var.$font-weight-bold;
    font-size: 36px;
    color: var.$color-black-10;
    margin-bottom: 16px;
  }

  &__description {
    font-family: var.$font-family-primary;
    font-weight: var.$font-weight-regular;
    font-size: 18px;
    color: var.$color-white-100;
    margin-bottom: 24px;
    max-width: 600px;
  }

  &__button {
    &--products {
      @include var.button-primary;
    }
  }

  @media screen and (min-width: var.$screen-md) {
    background-image: url('/assets/images/store-home.webp');
  }
}