@use "../../styles/main.scss" as var;

.layout {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;

  &__main {
    background: var.$color-background;
    margin-top: 82px;
    box-sizing: border-box;
  }
}