@use "../../styles/main.scss" as var;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
  margin: 32px 0;

  &__content {
    max-width: var.$screen-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }

  &__title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  &__description {
    text-align: center;
    font-size: 16px;
    color: var.$color-black-80; 
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
  }

  &__label {
    margin-bottom: 8px;
    font-weight: var.$font-weight-semibold;
  }

  &__input,
  &__textarea {
    padding: 14px;
    border: 1px solid var.$color-black-20;
    border-radius: 4px;
    font-size: 16px;
    font-family: inherit;
  }

  &__input:focus,
  &__textarea:focus {
    outline: none;
    border-color: var.$color-primary; 
  }

  &__button {
    align-self: flex-start;
    background-color: var.$color-primary; 
    color: var.$color-white-100; 
    border: none;
    padding: 14px 24px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: var.$color-primary; 
    }
  }

  &__info {
    margin-top: 32px;
    font-size: 16px;
    color: var.$color-black-90; 
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__info-item {
    line-height: 1.6;
  }
}
