@use "../../styles/main.scss" as var;

.products-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 16px;
  margin: 32px 0;
  box-sizing: border-box;

  &__content {
    max-width: var.$screen-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
  }

  &__title {
    font-family: var.$font-family-primary;
    font-weight: var.$font-weight-bold;
    font-size: 28px;
    color: var.$color-black-70;
    margin-bottom: 16px;
  }
}