// Header styles
@import "../../styles/main.scss";

.header {
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 16px 24px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $color-white-100;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  z-index: 99;

  &__container {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 18px;
  }

  &__links {
    display: none;
  }

  &__logo {
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1 / 1;

    &--img {
      width: 45px;
      height: 45px;
    }
  }

  &__cart {
    width: fit-content;
    height: fit-content;
    aspect-ratio: 1 / 1;
    background: $color-black-10;
    padding: 4px;
    border-radius: 50%;
    box-sizing: border-box;
    position: relative;

    &--img {
      width: 30px;
      height: 30px;
    }

    &--count {
      position: absolute;
      top: -5px;
      right: -5px;
      width: 20px;
      height: 20px;
      background: $color-red-70;
      color: $color-white-100;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
    }
  }

  &__menu {
    width: fit-content;
    height: fit-content;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  
    img {
      width: 30px;
      height: 30px;
      transition: transform .3s ease-in-out;
    }
  
    &--img-open {
      transform: rotate(180deg);
    }
  
    &--img-close {
      transform: rotate(0deg);
    }
  }

  &__options {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    transition: width .5s, opacity .5s ease-in-out; 
    
    &.open {
      opacity: 1;
      top: 82px;
      left: 0;
      background: rgba($color: #000000, $alpha: .5);
      min-height: calc(100dvh - 82px);
      width: 100%;
    }

    &.close {
      opacity: .5;
      top: 82px;
      left: 0;
      background: rgba($color: #000000, $alpha: .5);
      min-height: calc(100dvh - 82px);
      width: 0;
    }

    &--list {
      margin: 0;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 18px;
      list-style: none;
      min-height: calc(100dvh - 82px);
      background: $color-white-100;
      transition: width .5s, opacity .5s ease-in-out;

      &.open {
        opacity: 1;
        width: fit-content;
        min-width: 250px;
        overflow-y: auto;
        max-height: calc(100dvh - 82px);
        scroll-behavior: smooth;
        padding-bottom: 64px;

        a {
          opacity: 1;
          display: flex;
          text-decoration: none;
          font-size: 18px;
          color: $color-black-100;
          align-items: center;
          justify-content: space-between;

          &:hover {
            color: $color-black-60;
          }
        }
      }

      &.close {
        opacity: .5;
        width: 0;
        padding: 0;

        a {
          display: none;
        }
      }
    }

    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
    }

    &--toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      height: auto;
      background: none;
      border: none;
      cursor: pointer;

      img {
        width: 32px;
        height: 32px;
        transition: transform .2s ease-in-out;
      }

      &-arrow {

        &.open {
          transform: rotate(360deg);
        }

        &.close {
          transform: rotate(0deg);
        }
      }
    }

    &--submenu {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 16px 0;
      padding: 0 0 0 18px;
      font-weight: $font-weight-medium;
    }

    &--second-submenu {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: 16px 0;
      padding: 0 0 0 18px;
      font-weight: $font-weight-light;
    }
  }

  @media screen and (min-width: $screen-md) {

    &__links {
      display: flex;

      &--list {
        display: flex;
        gap: 24px;
        list-style: none;

        a {
          text-decoration: none;
          font-size: 18px;
          color: $color-black-100;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {
            color: $color-black-60;
          }
        }
      }
    }
    
  }
}