@import '../../styles/main.scss';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 16px;
  background: $color-black-20;

  &__content {
    max-width: $screen-xl;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    width: 100%;
  }

  &__rss {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 16px;
    width: 100%;
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
    gap: 16px;
    width: 100%;

    &--column {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      gap: 12px;
      text-align: left;
    }

    &--title {
      font-family: $font-family-primary;
      font-weight: $font-weight-bold;
      font-size: 20px;
      color: $color-black-70;
      margin-bottom: 12px;
    }

    &--link {
      font-family: $font-family-primary;
      font-weight: $font-weight-regular;
      font-size: 16px;
      color: $color-black-70;
      text-decoration: none;
      transition: color 0.3s ease;
      margin: 0;

      &:hover {
        color: $color-black-50;
      }
    }
  }

  &__copyright {
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    font-size: 14px;
    color: $color-black-70;
    margin-top: 32px;
  }

  @media screen and (min-width: $screen-md) {

    &__links {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
    }
    
  }
}